dash==2.14.0
dash_bootstrap_components==1.1.0
dash_iconify==0.1.2
dash_mantine_components==0.12.0
Flask==2.2.2
numpy==1.25.2
pandas==2.2.0
plotly==5.17.0
pycountry==22.3.5
pydeck==0.8.0
statsmodels==0.14.0
dash-deck==0.0.1
dash-echarts==0.0.12.9
dash_admin_components==0.1.4
gunicorn
dash-tools